= link_to "Book Club", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      Logged in as #{current_user.name}
    %li
      = link_to 'Logout', session_path, method: :delete
  - else
    %li
      = link_to 'Login', new_session_path
